.calc__grid{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto)repeat(5, 100px);
    min-height: 100%;
    grid-gap: 3px 3px;
    margin: auto auto 15px;
}

.calc__grid-btn {
    font-size: 25px;
    border: none;
    border-radius: 12px; 
}

.calc__grid-btn:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.calc__span-two {
    grid-column: span 2;
    font-size: 25px;
    border: none;
    border-radius: 12px;
}

.calc__span-two:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.calc__output {
    grid-column: 1 /-1;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    background: darkblue;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 8px; 

}

.calc__output-preop {
    font-size: 35px;
    color: white;
    padding: 5px;
}

.calc__output-currop {
    font-size: 35px;
    color: white;
    padding: 5px;
}