.calc__container {
}

.calc__grid{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto)repeat(4, 100px);
    min-height: 100vh;
    grid-gap: 3px 3px;
}

.calc__grid-btn {
    max-width: 125px; 
    font-size: 20px;
    border: none;
    border-radius: 12px;
    
}

.calc__grid-btn:hover {
    cursor: pointer;
}

.calc__span-two {
    grid-column: span 2;
    font-size: 20px;
    border: none;
    border-radius: 12px;
}

.calc__output {
}
